* { box-sizing: border-box; }

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.photospinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.photo-controls {
  min-width: 400px;
}

.control-wrap {
  display: block;
  width: 100%;
}

.meetup-select {
  width: 100%;
}

.spin-button {
  width: 100%;
}



.photocontainer {
  display: flex;
  width: 100%;
  height: 90%;
  align-content: center;
  transform-style: preserve-3d;
}

.photoset {
  position: relative;
  align-self: center;
  margin: 0 auto;
  transform-style: preserve-3d;
}

.photo {
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0;
  //background-color: black;

  .photo-contain {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .caption {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing:antialiased;

    color: white;
    text-align: center;
    text-transform: uppercase;

    background-color: rgba(64,64,64,0.4);
    z-index: 2;

    p{
      width: 100%;
      text-align: center;
    }
  }

  img {
    display: block;
    width: 100%;
    max-height: 100%;
    height: auto;
    z-index: 1;
  }

  &:before {
       content: '';
       pointer-events: none;
       position: absolute;
       z-index: -1;
       top: 100%;
       left: 5%;
       height: 10px;
       width: 90%;
       opacity: 1;
       background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 70%);
   }

}

#root {
  background-image: linear-gradient(#fff6e4, #8b9da9);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}